html,
body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5rem;
  background: #f3f4f9;
  /* matches sidebar background */
}

.form-signin {
  width: 100%;
  max-width: 25rem;
  padding: 3rem;
  margin: auto;
  background-color: #fbfcfe;
  border: 2px solid #dadedf;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

#logo {
  height: 10%;
  width: 100%;
  padding: 10%;
  background-color: #0e2c75;
  border-radius: 1.5rem;
}

.form-signin .checkbox {
  font-weight: 400;
  color: #7b8a98;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type='email'],
.form-signin input[type='password'],
.form-signin input[type='text'] {
  margin-bottom: 1rem;
  border: 2px solid #0e2c75;
  border-radius: 1rem;
  padding: 0.75rem 1rem;
  font-size: clamp(14px, 1.2vw, 20px);
}

.form-signin input:focus {
  outline: none;
  border-color: #5668a1;
  box-shadow: 0 0 5px rgba(14, 44, 117, 0.3);
}

.form-signin .btn {
  border-radius: 1rem;
  font-weight: bolder;
  color: #ffffff;
  background-color: #0e2c75;
  font-size: clamp(14px, 1.2vw, 20px);
  height: 3.3rem;
}

.form-signin .btn:hover {
  background-color: #5668a1;
  color: #ffffff;
}

.form-signin a {
  color: #df7d72;
  /* matches class date color */
  font-weight: 500;
  text-decoration: none;
}

.form-signin a:hover {
  color: #0e2c75;
}